/*
 Main green - #38c958
 Light green - #aee637
 Darker green (links) - #149c68
 Dark grey - #383939
 */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

body { font-family: 'Cabin Condensed', Helvetica, Verdana, Arial, sans-serif; font-size: 13pt; background: #111 url(../img/black-Linen.png); color: #eee; }
p,ul { margin-bottom: 1em; }
footer { background: #111; background: rgba(255,255,255,.1); color: #fff; text-align: right; padding: 10px 0; margin-top: 4em; }

a { text-decoration: none; color: #149c68; }
a:active { border-bottom: dotted 1px #149c68; }
a:visited { color: #149c68; }
a:hover { color: #888; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; letter-spacing: 1px; }

nav ul { float: right; margin: 22px 40px 0 0; }
nav li { display: inline-block; margin-left: 20px; font-size: 14pt;  }
.ie7 nav li, .ie6 nav li { display: inline; }

header h1 { background: url(../img/logo.png) top left no-repeat transparent; height: 200px; width: 307px; margin-top: 20px; text-indent: -9999px;}
header h2 { color: #149c68; font-size: 10pt; margin-top: 1em; }
section h1, article h1, aside h1 { color: #149c68; font-size: 30pt; line-height: 1em; }

article { margin: 1em 0; }
article h1 { margin-bottom: .5em; }
#topBar { background-color: #38c958; text-align: right; padding: 10px; color: #fff; }
.latestPosts { padding: 5px 20px 5px 35px; background: url(../img/smallcircles.png) left center no-repeat transparent; }
.latestPosts a { color: #fff; }

#siteHeading, #main, nav, footer p, aside { width: 960px; margin: auto; }

aside { margin: 3em auto }
.extraInfo { width: 465px; margin-right: 10px; float: left; border-top: solid 1px #383939; border-bottom: solid 1px #383939; color: #fff;; overflow: auto; background: #111; background: rgba(255,255,255,.1); }
.extraInfo a, footer a { color: #aee637; margin-top: 1em; }
.extraInfo .content, .extraInfo .heading { margin: .5em; }
.extraInfo h1 { font-size: 26pt; }
.extraInfo h2 { font-size: 24pt; margin-bottom: .5em; }

.fullWidth { width: 940px; padding-top: 10px; padding-left: 10px; float: left; border-top: solid 1px #383939; border-bottom: solid 1px #383939; color: #fff;; overflow: auto; background: #111; background: rgba(255,255,255,.1); }
.fullWidth a, footer a { color: #aee637; margin-top: 1em; }
.fullWidth .content, .extraInfo .heading { margin: .5em; }
.fullWidth h1 { font-size: 26pt; }
.fullWidth h2 { font-size: 24pt; margin-bottom: .5em; }

.col_50 { width: 470px; margin: 0 10px; float: left; }
.first { margin-left: 0; }
.last { margin-right: 0; }
.clearfix { clear: both; }

.team { margin-left: 0; list-style: none; margin-top: 1em; }
.team li { margin: 0 0 1em 0; }
.team .name { font-size: 14pt; }
.team .skills { font-size: 12pt; }
.team .links { display: block; }

blockquote {
background: #111;
background: rgba(255,255,255,.1);
border-left:10px solid #ccc;
margin:1.5em 10px;
padding:.5em 10px;
quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
color:#ccc;
content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
}
blockquote p {
display:inline;
}


.cssanimations .circles{
  display: inline-block;
  height: 29px;
  width: 26px;
  margin-right: 10px;
  background: url(../img/smallcircles.png) center center no-repeat transparent;
  -moz-animation-name: rotate;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.cssanimations .latestPosts { padding-left: 0; background: transparent; }

@-moz-keyframes rotate {
  from {  
    -moz-transform: rotate(0deg);  
  }  
  to {  
    -moz-transform: rotate(360deg);  
  }  
}
 
@-webkit-keyframes rotate {  
  from {  
    -webkit-transform: rotate(0deg);  
  }  
  to {  
    -webkit-transform: rotate(360deg);  
  }  
}  


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
